@page "/registro"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@inject PruebaTecContext _context
@using PruebaTec.Models

<h3>Nuevo Estudiante</h3>

<EditForm Model="@nuevoEstudiante" OnValidSubmit="GuardarEstudiante" FormName="registroForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Nombres:</label>
        <InputText @bind-Value="nuevoEstudiante.Nombres" class="form-control" />
    </div>

    <div>
        <label>Apellidos:</label>
        <InputText @bind-Value="nuevoEstudiante.Apellidos" class="form-control" />
    </div>

    <div>
        <label>Fecha de Nacimiento:</label>
        <InputDate @bind-Value="nuevoEstudiante.FechaNacimiento" class="form-control" />
    </div>

    <div>
        <label>Dirección:</label>
        <InputText @bind-Value="nuevoEstudiante.Direccion" class="form-control" />
    </div>

    <div>
        <label>Sexo:</label>
        <InputSelect @bind-Value="nuevoEstudiante.Sexo" class="form-control">
            <option value="" disabled>Seleccione</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="Otro">Otro</option>
        </InputSelect>
        <ValidationMessage For="@(() => nuevoEstudiante.Sexo)" />
    </div>


    <div>
        <label>CURP:</label>
        <InputText @bind-Value="nuevoEstudiante.CURP" class="form-control" />
    </div>

    <div>
        <label>Teléfono:</label>
        <InputText @bind-Value="nuevoEstudiante.Telefono" class="form-control" />
    </div>

    <div>
        <label>Email:</label>
        <InputText @bind-Value="nuevoEstudiante.Email" class="form-control" />
    </div>

    <div>
        <label>Carrera:</label>
        <InputSelect @bind-Value="nuevoEstudiante.IdCarrera" class="form-control">
            <option value="">Seleccione</option>
            @foreach (var c in carreras)
            {
                <option value="@c.IdCarrera">@c.NombreCarrera</option>
            }
        </InputSelect>
    </div>

    <div>
        <label>¿Es Becado?</label>
        <InputCheckbox @bind-Value="nuevoEstudiante.EsBecado" />
    </div>

    <div>
        <label>Modalidad:</label>
        <InputSelect @bind-Value="nuevoEstudiante.Modalidad" class="form-control">
            <option value="">Seleccione</option>
            <option value="Presencial">Presencial</option>
            <option value="Online">Online</option>
            <option value="Ambos">Ambos</option>
        </InputSelect>
    </div>

    <div>
        <label>Descripción personal:</label>
        <InputTextArea @bind-Value="nuevoEstudiante.DescripcionPersonal" class="form-control" />
    </div>

    <div>
        <label>¿Tiene Mascotas?</label>
        <InputCheckbox @bind-Value="nuevoEstudiante.TieneMascotas" />
    </div>

    <div>
        <label>¿Cuáles?:</label>
        <InputText @bind-Value="nuevoEstudiante.TiposMascotas" class="form-control" />
    </div>

    <div>
        <label>Horario de comida:</label>
        <InputText @bind-Value="nuevoEstudiante.HorarioComida" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Guardar</button>



</EditForm>


@if (!string.IsNullOrEmpty(mensaje))
{
    <div class="alert alert-danger mt-3">@mensaje</div>
}

@code {
    private Estudiante nuevoEstudiante = new();
    private List<Carrera> carreras = new();
    private string? mensaje;

    protected override async Task OnInitializedAsync()
    {
        carreras = await _context.Carreras.ToListAsync();
    }

    private async Task GuardarEstudiante()
    {
     
        _context.Estudiantes.Add(nuevoEstudiante);
        await _context.SaveChangesAsync();

        mensaje = "Estudiante registrado";

        nuevoEstudiante = new(); 
    }
}
